.Titulo-Sugerencias{
    color: beige;
}
.container-Follow{
    border: 0.5px solid #ffffff;
    border-radius: 15%;
    padding: 20px;
    grid-column: 3/ 3;
    grid-row: 2/3;
    display: grid;
    max-width: 1200px;
    justify-self: center;
    align-self: center;
}
.Container-x{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.Container-x-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Container-x .Container-x-Avatar{
    width: 50px;
    border-radius: 40px;
    margin-right: 10px;
}
.Container-x .Container-x-Avatar-Name{
    color:beige;
    display: flex;
}
.Container-x .Container-x-Avatar-User{
    color:beige;
    display: flex;
    margin-top: -2px;
}

.Container-x .Container-x-Seguir{
    border-radius: 40px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    border: 1px solid #000;
    transition: .3s ease background-color;
}
.isnotFolowing{
   display: none;
}
.Container-x .Container-x-Seguir:hover{
   opacity: 0.8;
}
.Container-x .Container-x-Seguir.is-follow:hover{
    background-color: rgba(255, 0, 0, 0.151);
    color: white;
    border: 1px solid red;
}
.Container-x .Container-x-Seguir.is-follow:hover .isnotFolowing{
    display: block;
    
}
.Container-x .Container-x-Seguir.is-follow:hover .Following{
    display: none;
}
